@import '../styles/variables';


.canvas_controls{
	background-color: #fff;
	position:relative;

	.container {
		box-shadow: 0px 0px 10px 1px $primaryLight;
		padding: 0.4em 0.3em;
		background-color: #fff;
		position: absolute;
		top: 0%;
		left: $toggleMenuLeftPosition;

		@include menuWidth();

		display:flex;
		justify-content: space-between;
		&.opened {
			display: flex;
		}
		&.closed {
			display: none;
		}
	}
}