@import '../styles/variables';


.canvas_controls{
	background-color: #fff;
	height: 100%;

	.container {
		box-shadow: 0px 0px 10px 1px $primaryLight;
		padding: 0.4em 0.3em;
		background-color: #fff;
		position: absolute;
		top: 0%;
		left: 110%;
		width: 400px;
		&.opened {
			display: flex;
		}
		&.closed {
			display: none;
		}
	}
}