@import '../../styles/variables';

.input_file {
	margin-top: 0.5em;
	font-size: 14px;
	background-color:red;
	overflow: hidden;
	position:relative;
	height: 40px;
	
	input[type=file] {
	    cursor: inherit;
	    opacity: 0;
	    min-height: 100%;
	    min-width: 100%;
	    position: absolute;
	    right: 0;
	    top: 0;
	}
}
