@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');
// @import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,700');

@mixin fontBody() {
	font-family: 'Roboto', sans-serif;
	// font-family: 'Nunito Sans', sans-serif;
	font-weight: 300;
}

@mixin fontHead() {
	font-family: 'Roboto', sans-serif;
	// font-family: 'Nunito Sans', sans-serif;
	font-weight: 700;
}

$bg: #fff;
$primaryLight: #d1d3df;
$primaryDark: #8d8d8d;


$purple: #b974aa;
$blue: #63bce8;
$red: #e57973;
$orange: #edab71;
$yellow: #f6d662;

$transition: all 0.3s;

@mixin circle($width) {
	height:$width; width: $width;
	border-radius: 50%;
}
@mixin rect($width, $height){
	height: $height; width: $width;
	border-radius:0;
}
@mixin rectMinSize($width, $height){
	min-height: $height; min-width: $width;
}
