@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400');

//color pallete
// https://dribbble.com/shots/3027784-QWERTY-Sample-app
$purple: #b974aa;
$blue: #63bce8;
$red: #e57973;
$orange: #edab71;
$yellow: #f6d662;

$bg: #fff;
$primaryLight: #d1d3df;
$primaryDark: #8d8d8d;
$accent: $purple;

$transition: all 0.3s;
$playlistWidth: 30vw;
$canvasMargin: 2.5vw;
$canvasWidth: 100vw - $playlistWidth;

@mixin fontBody() {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 300;
}

@mixin fontHead() {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
	font-size: 1.2em;
}


@mixin circle($width) {
	height:$width; width: $width;
	border-radius: 50%;
}
@mixin rect($width, $height){
	height: $height; width: $width;
	border-radius:0;
}
@mixin rectMinSize($width, $height){
	min-height: $height; min-width: $width;
}
