@import './styles/variables';
@import './styles/layout';
@import './styles/assets';

body {
	@include fontBody();
	color: $primaryDark;
	height: 100vh;
	width: 100vh;
	overflow: hidden;
}	
#playlist_container {
	position:relative;
	width: 20em;
}


// Gradient bg
// https://thefwa.com/cases/save-tropical-house

// playlist info
// https://dribbble.com/shots/3574772-Redaw

// buttons/assets
// https://dribbble.com/shots/3027784-QWERTY-Sample-app
// https://dribbble.com/shots/3316100-Day-90-Equalizer

// visualizations
// https://play.google.com/store/apps/details?id=com.h6ah4i.android.music_visualizer2 		pixel hearts, hexagons
// https://medium.muz.li/ui-interactions-of-the-week-64-b7de246ca8c5 	//2nd last