@import './styles/variables';
@import './styles/layout';
@import './styles/assets';

body {
	@include fontBody();
	color: $primaryDark;
	height: 100vh;
	width: 100vh;
	overflow: hidden;
}	
#playlist_container {
	position:relative;
	width: 20em;
}


// Gradient bg
// https://thefwa.com/cases/save-tropical-house

// https://dribbble.com/shots/2949593-Music-Player