@import './styles/variables';
@import './styles/layout';
@import './styles/assets';

body {
	@include fontBody();
	color: $primaryDark;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
#root, .content_container {
	width: inherit;
	height: inherit;
}
#primary_content {
	flex:1;
}
#nav {
	position: fixed;
	top: 5px;
	left: 5px;
	height: 100%;
	display: flex;
	flex-direction:column;
	z-index: 1;
	&>div {
		margin: 5px;
	}
}