@import '../../styles/variables';

$blur: 4px;
$spacing: $blur + 2;

.track {
	z-index:0;
	margin: $spacing 0;
	transition: $transition;
	border: solid lighten($primaryLight, 10%) 0.1em;
	height: 3em;
	width: 100%;
	color: $primaryDark;
	cursor: pointer;
	&:hover {
		// background-color: $primaryLight;
	}
	&.active {
		box-shadow: 1px 3px $blur $primaryLight;
	}
	.audio_time {
		font-size: 0.7em;
		margin: auto 3% auto auto;
	}
}