@import '../../styles/variables';
.track {
	z-index:0;
	transition: $transition;
	border: solid transparent 0.1em;
	// border-bottom-color: lighten($primaryLight, 10%); 
	height: 3em;
	width: 100%;
	color: darken($primaryLight, 40%);
	cursor: pointer;
	&:hover {
		// background-color: $primaryLight;
	}
	&.active {
		box-shadow: 1px 3px 2px $primaryLight;
	}
	.button {
		z-index: 10;
	}
}