@import '../styles/variables';

.canvas_outer {
	flex:1;
	display:flex;
	justify-content: center;
	align-items: center;
	position:relative;
	.canvas_inner {
		height: 80%;
		width: 80%;
		box-shadow: 0px 3px 11px 2px $primaryLight;
		border-radius: 1em;
		overflow: hidden;
		canvas {
			transition: 0.3s all;
		}
	}
}